@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<p role="status">METAR: @metar</p>

<div>
    <textarea value="@icao" @onchange="e => icao = e.Value.ToString()" />

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</div>

@code {
    private int currentCount = 0;
    private string metar;
    private string icao;

    private void IncrementCount()
    {
        currentCount++;

        metar = ApiHandler.RequestMetar(icao);
    }
}
