@page "/"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject NavigationManager navMan
@inject IJSRuntime jsRuntime

<PageTitle>Home</PageTitle>

<body>
    <div class="container">
        <h1>Metar Parser</h1>

        <div class="input-group">
            <label for="icao">ICAO</label>
            <textarea value="@icao" @onchange="e => icao = e.Value.ToString()" class="hasPlaceholder" id="icaoTb" name="icao" rows="1" cols="4" maxlength="4" placeholder="ICAO"></textarea>
            <button type="button" id="submitICAOBtn" @onclick="SubmitICAO">Submit ICAO</button>
        </div>

        <div class="input-group">
            <label for="metar">METAR</label>
            <textarea class="hasPlaceholder" id="metar" rows="1" cols="8" name="metar" @onkeypress="@AutoResize" style="overflow: hidden;" placeholder="METAR"></textarea>
            <button type="button" onclick="submitMETAR()">Submit METAR</button>
        </div>
    </div>
</body>

@code
{
    private string icao;
    private string metar;

    private string invalidICAO = "Invalid ICAO! Please enter a new ICAO and try again!";
    private string invalidLength = "ICAO must be 4 characters in length! Please enter a valid ICAO and try again!";
    private string noICAO = "Please enter an ICAO in the ICAO input";

    protected async void AutoResize(KeyboardEventArgs e)
    {
        await jsRuntime.InvokeVoidAsync("autoResize");
    }

    protected async void Alert(string message)
    {
        await jsRuntime.InvokeAsync<object>("Alert", message);
    }

    private void SubmitICAO()
    {
        if (string.IsNullOrEmpty(icao))
        {
            Alert(noICAO);
            icao = "";
            return;
        }
        else if (icao.Length != 4)
        {
            Alert(invalidLength);
            icao = "";
            return;
        }
        else if(!ICAODict.icaoDict.ContainsKey(icao.ToUpper()))
        {
            Alert(invalidICAO);
            icao = "";

            return;
        }
        else
            navMan.NavigateTo($"Results/{icao.ToUpper()}");
    }
}