@page "/"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject NavigationManager navMan
@inject IJSRuntime jsRuntime

<PageTitle>Home</PageTitle>

<div class="background">
    <h1>Metar Parser</h1>
    <div id="mainView">
        <div class="icaoDiv" id="center">
            <h3>Enter an ICAO</h3>
            <textarea value="@icao" @onchange="e => icao = e.Value.ToString()" id="icaoTb" class="textBox" maxlength="4" style="overflow: hidden" placeholder="ICAO"></textarea>
            <div class="icaoBtnDiv">
                <button id="submitICAOBtn" @onclick="SubmitICAO">SUBMIT</button>
            </div>
        </div>
        <div class="metarDiv" id="center">
            <h3>Enter a METAR</h3>  <! Reenable when functionality is implemented>
            <h5>INOP</h5>
            <textarea disabled id="metarTb" class="textBox" @onkeypress="@AutoResize" style="overflow: hidden" placeholder="METAR"></textarea>
            <div class="metarBtnDiv">
                <button disabled id="submitMETARBtn">SUBMIT</button>
            </div>
        </div>
    </div>
</div>

@code
{
    private string icao;
    private string metar;

    private string invalidICAO = "Invalid ICAO! Please enter a new ICAO and try again!";
    private string invalidLength = "ICAO must be 4 characters in length! Please enter a valid ICAO and try again!";
    private string noICAO = "Please enter an ICAO in the ICAO input";

    protected async void AutoResize(KeyboardEventArgs e)
    {
        await jsRuntime.InvokeVoidAsync("autoResize");
    }

    protected async void Alert(string message)
    {
        await jsRuntime.InvokeAsync<object>("Alert", message);
    }

    private void SubmitICAO()
    {
        if (string.IsNullOrEmpty(icao))
        {
            Alert(noICAO);
            icao = "";
            return;
        }
        else if (icao.Length != 4)
        {
            Alert(invalidLength);
            icao = "";
            return;
        }
        else if(!ICAODict.icaoDict.ContainsKey(icao.ToUpper()))
        {
            Alert(invalidICAO);
            icao = "";

            return;
        }
        else
            navMan.NavigateTo($"Results/{icao.ToUpper()}");
    }
}