@page "/results/{icao}"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject NavigationManager navMan
@inject IJSRuntime jsRuntime

<div class="container">
    <h3>Results</h3>
    <div class="resDiv">
        <textarea class="results" readonly>@results</textarea>
    </div>
    <button class="backBtn" @onclick="BackBtn_Click">BACK</button>
</div>




@code {

    [Parameter]
    public string icao { get; set; }
    private string metar;
    private string results = "";
    private int count = 0;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => GetMetar());
    }

    private void BackBtn_Click()
    {
        results = "";

        MetarParser.ResetMetarStrings();

        navMan.NavigateTo("/");
    }

    private void GetMetar()
    {
        count++;
        metar = ApiHandler.RequestMetar(icao);

        MetarParser.GetParsedMetar(metar);

        results = MetarParser.GetDecodedMetarAsString();

        //Console.WriteLine(results);
    }
}
