body {
}

h3 {
    font-family: CommitMono;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    align-content: center;
    color: #333333;
}

textarea {
    font-family: CommitMono;
    font-size: 1.5em;
    font-weight: bolder;
}

button {
    cursor: pointer;
    align-self: center;
    font-family: CommitMono;
    font-size: 1.5em;
    font-weight: bold;
    width: 100px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    border: thin solid gray;
    border-radius: 5px;
    background-color: #666A86;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backBtn {
    position: absolute;
    margin-top: 52%;
}

.results {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0%, 12%);
    background-color: lightslategray;
    border: thin solid gray;
    border-radius: 5px;
    width: 980px;
    height: 620px;
    overflow: hidden;
    resize: none;
}
