body {
}

.results {
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: #95B8D1;
    border: thin solid gray;
    border-radius: 5px;
    width: 600px;
    height: 150px;
    overflow: hidden;
    resize: none;
}

.resDiv {
    align-content: center;
    align-items: center;
    width: 900px;
    height: 506px;
    align-content: center;
    align-items: center;
    align-self: center;

}
